# Logging
LOG_LEVEL=INFO

# Database
DATABASE_URL=postgresql://duel_tools:duel_tools@localhost:5432/duel_tools

# Redis
REDIS_URL=redis://localhost:6379/0

# DuelingBook scraping
ANTICAPTCHA_API_KEY=
SITE_KEY=
